_site
.sass-cache
.jekyll-metadata

files/yorkLearningCourses/ccb/week5/__pycache__/

files/images/lightNight1\.jpg

files/images/lightNight3\.jpg

files/images/lightNight4\.jpg

files/images/lightNight5\.jpg

files/images/lightNight6\.jpg

files/images/sensorCity\.jpg

*.lock
